@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap');
:root{
    --cor-de-fundo:#85bb59;
    --texto1: #224e34;
    --texto2: #265f0c;
    --botao-ativo: #ae00ff;
    --botao-inativo: rgba(210, 255, 7, 0.5);
    --texto-fundo: rgba(58,55,94,0.3);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--texto1);
    font-family: "Gloria Hallelujah", sans-serif;
}