@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Indie+Flower&family=Kalam:wght@300;400;700&family=Shadows+Into+Light&display=swap');
:root{
    --cor-de-fundo:#85bb59;
    --texto1: #224e34;
    --texto2: #265f0c;
    --botao-ativo: hsla(108, 49%, 67%, 0.882);
    --botao-inativo: rgb(80, 151, 39);
    --texto-fundo: rgba(58,55,94,0.3);
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--texto1);
    font-family: "Kalam", cursive;
}

.conteudo-principal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 10px;
}

.titulo-principal{
    text-align: center;
    width: 100%;
    font-size: 33px;
}

.botao{
    font-family: "Kalam", cursive;
    background-color: var(--botao-inativo);
    border: none;
    display: flex;
    color: var(--texto1);
    justify-content: center;
    padding: 1em;
    font-size: 25px;
    align-items: center;
    width: 110%;
    border-radius: 20px 20px 20px 20px;
    margin: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.5s ease;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }

.botao:hover{
    background-color: #4CAF50;
    animation: none;
}

.botoes{
    display: flex;
}

.botao.ativo{
    background: var(--botao-ativo);
    border-bottom: 7px solid #224e34;
}

p,
label {
  font:
    19px "Kalam", cursive;
}

input {
    margin: 0.4rem;
}

  .aba-textos{
   background-color: var(--texto-fundo);
   padding: 1em;
   border-radius: 20px 20px 20px 20px;;
}

.aba-conteudo.ativo{
  display:block;
}

.aba-conteudo{
  display: none;
}

.aba-conteudo-titulo-principal{
 font-size: 34px;
 text-align: center;
}

.aba-conteudo-titulo-secundario{
  color: var(--texto1);
  font-size: 22px;
  text-align: center;
}